.radio {
    margin: 20px 0;
}
.radio__text {
    font-size: 14px;
    line-height: 20px;
}
.buttom--text {
    background-color: #ffffff;
    border: none;
    padding: 0;
    font-size: 14px;
    line-height: 20px;
    color: #1F84DB;
    font-family: inherit;
}
.radio__input {
    display: block;
    box-sizing: border-box;
    width: 641px;
    margin: 10px 39px 10px 26px;
}
.radio__input-wrapper{
    position: relative;

}
.radio__input-wrapper--other {
    padding: 5px 0;
    padding-left: 28px;
    font-size: 16px;
}
.radio__input-wrapper:before {
    content: "";
    width: 14px;
    height: 14px;
    display: block;
    position: absolute;
    top: 10px;
    left: 5px;
    border: 1px solid #757575;
    box-sizing: border-box;

    /* background-repeat: no-repeat;
    background-size: contain; */
    /* z-index: 100; */
}
/* .circle:before {
    background-image: url(../../../img/circle.svg);
}
.square:before {
    background-image: url(../../../img/square.svg);
} */

.button--del {
    position: absolute;
    top: 3px;
    right: 5px;
    width: 24px;
    height: 24px;
    border: none;
    background-color: #ffffff;
    background-image: url(../../../img/cross.svg);
    /* background-size: cover; */
}
