.pre-radio {
    display: flex;
    flex-direction: column;
}
.pre-radio__label {
    position: relative;
    padding: 0;
    padding-left: 34px;
    margin: 0;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 20px;
}
.pre-radio__input {
    position: absolute;
    top: 5px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}
.pre-radio__radio {
    position: absolute;
    top: 3px;
    left: 10px;
    width: 14px;
    height: 14px;
    background-image: url(../../../img/radio.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 50%;
}
.pre-radio__input:checked + .pre-radio__radio {
    background-image: url(../../../img/radiochecked.svg);
}
.pre-radio__input:focus + .pre-radio__radio,
.pre-radio__input:hover + .pre-radio__radio {
    box-shadow: 0 0 5px 1px #4A90E2;
}
.pre-radio__wrapper {
    display: flex;
    flex-direction: column;
}
