.entry {
    position: relative;
    box-sizing: border-box;
    margin: 50px auto;
    width: 746px;
    min-height: 240px;
    background: #FFFFFF;
    border-radius: 6px;
    padding:  20px 20px 65px;
}
.entry__form {
    padding: 0;
    margin: 0;
}

.entry__label{
    padding: 0;
    margin: 0;
}
.m20 {
    display: block;
    margin: 20px 0;
}
.entry__text{
    display: block;
    padding-bottom: 3px;
    font-size: 14px;
    line-height: 20px;
}
.entry__button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 0 30px;
}
